html {
    height: 100%;
    width: 100%;
  }
  
  .board {
    border: 1px solid black;
    height: 24.3vh;
    width: 18vw;
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px 75px;
  }
  
  .cell {
    border: 1px solid black;
    width: 70px;
    height: 70px;
    }