* {
    text-align: center;

}

div {
    border: 1px solid black;
    width: 600px;
    height: 150px;
    display: flex;
}

#playerNames {
    display: flex;
    justify-content: center;
    gap: 90px;
}

span {
    border: 5px solid black;
    height: 150px;
    width: 200px;
}